Flask
Flask-Cors
joblib
numpy
scipy
pandas
pymongo
gunicorn
librosa
soundfile
sounddevice
scikit-learn
torch
torchvision
facenet_pytorch
tensorflow-cpu==2.13.0
opencv-python-headless

